.app {
    margin: 0 auto;
    height: auto;
    min-height: 1600px
}

.root {

    width: 100%;
    display: flex;
    flex-direction: column;

}

@media (min-width: 576px) {
    .app {
        width: 1070px;
        min-height: calc(100vh - 265px);
        margin: 20px auto 0;
    }

    .root {
        width: 100%;
        display: flex;
        flex-direction: column;

    }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
    .app {
        min-height: 2000px
    }
}
