:root {
  --background-color: rgb(237, 238, 240);
  --card-color: rgba(255, 255, 254, 0.8);
  --text-color: black;
  --text-blue: #1e90ff;
  --header-color: #fff;
  --select-color: #e8e8e8;
  --color-standart-gray2: #f0f0f0;
  --search-color: rgba(255, 255, 255, 0.848);
  --main-color: rgb(39, 163, 226);
  --main-radius: 9px;
  --card-shadow: 0px 1px 1px rgba(113, 113, 113, 0.2);
  --search-loop-color: #bb76fb;
  --salary-input-color: rgba(87, 87, 87, 0.664);
  --border: 1px solid#cdd0d5;
}
body {
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Mulish", sans-serif, "Outfit", sans-serif;
  background: var(--background-color);
  color: var(--text-color);
  transition: background-color 200ms linear;
  font-size: 20px;
  line-height: 1.3333;
}

.selected {
  color: var(--background-color);
  background-color: var(--main-color);
}
.comma {
  font-size: 14px;
  color: gray;
}
