.skeleton {
  padding: 5px 15px;
  width: 810px;
  height: 240px;
  border-radius: 25px;
  margin-bottom: 15px;
  background-color: var(--background-color);
}
@media (max-width: 1200px) {
  .card{
    width: 710px;
  }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {
  .skeleton{
    width: 90vw;
    border-radius: 15px;
    margin: 10px 19px;
    padding: 0;
    height: 210px;

  }
}
