.card {
  width: 390px;
  height: 560px;
  background-color: var(--color-standart-white);
  border-radius: 35px;
  margin-left: 28px;
  margin-top: 20px;
}

.card:hover {
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.25);
}

.card__role {
  height: 80px;
  display: flex;
  justify-content: center;
}

.card__role-title {
  background-color: rgba(255, 255, 254, 0.9);
  border-radius: 25px 25px 0 0;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.2em;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
}

.card__line {
  height: 15px;
  background-image: var(--color-grad-green);
  border: none;
}

.card__info {
  margin: 10px 0 0 10px;
}

.card__info-salary {
  margin-top: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;
}

.card__info-mode {
  margin-top: 5px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.05em;
}

.card__info-location {
  margin-top: 5px;
}

.card__info-location-title {
  font-style: bold;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.05em;
}

.card__info-technology {
  margin-top: 5px;
  
  
}
.card__info-technology-title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.05em;
}
.card__info-technology__list {
  margin: 3px;
  height: 230px;
}
.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 400ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 400ms, transform 300ms;
}
.card__info-technology__list-li{
  flex-wrap: wrap;
}