.card {
  padding: 8px;
  width: 710px;
  height: 205px;
  margin-bottom: 10px;
  background-color: var(--color-standart-white);
  border-radius: 15px;
  font-size: 18px;
  line-height: 28px;
}
.card:hover {
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.25);
}
.card__role {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  max-width: max-content;
  margin-left: 20px;
  cursor: pointer;
}
.card__role-title {
  border-radius: 25px 25px 0 0;
  font-family: PT Sans, sans-serif;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.05em;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
}
.card__role-title:hover {
  text-decoration: underline;
}
/* .card__line {
  height: 15px;
  background-image: var(--color-grad-green);
  border: none;
} */
.card__info {
  margin: 0 0 0 20px;
}
.card__info-salary {
  color: var(--color-standart-green);
  font-weight: 700;
  font-size: 20px;
}

.card__info-mode {
 
  letter-spacing: 0.05em;
}

.card__info-location {
  
}

.card__info-location-title {
  font-weight: 600;
  letter-spacing: 0.05em;
}

.card__info-technology {
  margin-top: 3px;
}
.card__info-technology-title {
  font-weight: 600;
  letter-spacing: 0.05em;
}
.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 400ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 400ms, transform 300ms;
}

@media (max-width: 1200px) {
  .card {
    width: 600px;
  }
}
@media (max-width: 992px) {
  .card {
    width: 100%;
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .card {
    width: 500px;
    font-size: 15px;
    line-height: 20px;
  }

  .card__role-title {
    font-size: 25px;
    line-height: 25px;
  }

  .card__info-salary {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .card {
    width: 100%;
  }
  .card__info-salary {
    font-size: 12px;
  }
}
