.header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-logo {
  height: 50px;
  width: 50px;
}
.header__search {
  display: flex;
  margin-right: 20px;
}
.header__search-input {
  text-align: center;
  font-size: 0.95rem;
  font-family: "Outfit";
  color: var(--color-standart-white);
  height: 30px;
  width: 450px;
  border-radius: 10px;
  border: none;
  background: var(--color-standart-green);
  outline: none;
}

.header__search-input::placeholder {
  color: var(--color-standart-white);
}
.header__search-gosearch,
.header__search-gosearch_noshow {
  cursor: pointer;
  position: relative;
  right: 40px;
  color: var(--color-standart-purple);
  margin-top: 2px;
}
.header__search-gosearch_noshow {
  opacity: 0;
}
.header__search-gosearch {
  opacity: 1;
}
