.header {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.header__search-input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.header__search {
  display: flex;
  margin-left: 10px;
}
.header__search-input {
  text-align: center;
  font-size: 1.05rem;
  font-family: "Outfit";
  color: var(--color-standart-white);
  height: 35px;
  width: 450px;
  border-radius: 10px;
  border: none;
  background: var(--color-standart-green);
  outline: none;
}
.header__search-input::placeholder {
  color: var(--color-standart-white);
}
.header__search-gosearch,
.header__search-gosearch_noshow {
  cursor: pointer;
  position: relative;
  right: 40px;
  color: var(--color-standart-purple);
  margin-top: 5px;
}
.header__search-gosearch_noshow {
  opacity: 0;
}
.header__search-gosearch {
  opacity: 1;
}
@media (max-width: 576px) {
  .header__search-input {
    width: 300px;
  }

}
