.title {
  color: rgb(39, 163, 226);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: "Teko", sans-serif;
}
.title_link {
  text-decoration: none;
  color: var(--main-color);
  font-size: 45px;
}
.title_icon {
  height: 28px;
  width: 28px;
  color: var(--main-color);
  margin: 10px;
}
