.root {
  flex-shrink: 0;
}
.pagHidden {
  display: none;
}
.pag li {
  text-align: center;
  padding: 5px;
  cursor: pointer;
  margin: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  width: 38px;
  height: 38px;
}
.pag li:hover {
  color: var(--background-color);
  background-color: var(--main-color);
}
