.root {
 
  display: flex;
  width: 370px;
  align-items: center;
  overflow-y: scroll;
  justify-content: flex-start;
}
.root::-webkit-scrollbar {
  width: 0;
}
@media (min-width: 576px) {
  .root {
    flex-direction: row;
    display: flex;
    margin: 45px;
    margin-top: 10px;
    display: flex;
    height: auto;
    width: 190px;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    justify-content: center;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
