.wrap{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.line_two{
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
