:root {
  --color-standart-black: #16161a;
  --color-standart-white: #fffffe;
  --color-standart-gray: #72757e;
  --color-standart-green: #2cb67d;
  --color-standart-purple: #7f5af0;
  --color-grad-green: linear-gradient(
    269.96deg,
    #23d940 1.42%,
    #52ef93 52.75%,
    #6afbbf 99.97%
  );
  --color-grad-red: linear-gradient(
    270deg,
    #f52525 4.01%,
    rgba(242, 45, 45, 0.678051) 54.5%,
    rgba(240, 51, 51, 0.45173) 75%,
    rgba(239, 52, 52, 0.416667) 95.5%,
    rgba(241, 47, 47, 0.606291) 99.97%,
    #ff0000 99.98%,
    rgba(240, 50, 50, 0.480419) 99.99%,
    rgba(235, 63, 63, 0) 100%
  );
  --color-grad-orange: linear-gradient(
    270deg,
    #ea971b 0%,
    rgba(233, 212, 23, 0.801073) 54.69%,
    rgba(233, 212, 23, 0.760417) 85.94%,
    rgba(232, 210, 8, 0) 100%
  );
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Mulish", sans-serif, "Outfit", sans-serif;
  background: #16161a;
  color: var(--color-standart-white);
  font-size: 20px;
}
